<section data-ns-animate data-delay="0.4">
  <div class="main-container">
    <div
      class="bg-background-3 {=$class} dark:bg-background-7 flex flex-col-reverse items-center justify-between gap-x-10 rounded-4xl p-2 lg:flex-row xl:gap-x-14"
    >
      <div class="w-full p-6 lg:max-w-[560px]">
        <div class="mb-8 space-y-5">
          <h2 class="text-heading-5 font-normal">Overview</h2>
          <p class="text-secondary/80 dark:text-accent/80">
            As SaaS adoption continues to accelerate, so do the security challenges.This report
            breaks down the frameworks, tools, and real-world strategies used by top-performing SaaS
            organizations to strengthen their data security posture without compromising
            performance.
          </p>
        </div>
        <div>
          <h3 class="text-heading-5 font-normal">You’ll learn how to</h3>
          <ul class="mt-4 mb-10.5 space-y-3">
            <li class="flex items-center gap-x-2">
              <span
                class="bg-secondary dark:bg-accent flex size-5 shrink-0 items-center justify-center rounded-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Architect a multi-tenant SaaS environment with built-in compliance
              </p>
            </li>
            <li class="flex items-center gap-x-2">
              <span
                class="bg-secondary dark:bg-accent flex size-5 shrink-0 items-center justify-center rounded-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Secure user data across multiple regions and endpoints
              </p>
            </li>
            <li class="flex items-center gap-x-2">
              <span
                class="bg-secondary dark:bg-accent flex size-5 shrink-0 items-center justify-center rounded-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Leverage automation for threat detection and incident response
              </p>
            </li>
            <li class="flex items-center gap-x-2">
              <span
                class="bg-secondary dark:bg-accent flex size-5 shrink-0 items-center justify-center rounded-full"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Build transparent systems that foster user trust
              </p>
            </li>
          </ul>
        </div>
      </div>
      <figure
        class="min-h-[300px] w-full overflow-hidden rounded-[20px] lg:min-h-[490px] lg:max-w-[613px]"
      >
        <img
          src="./images/ns-img-404.jpg"
          alt="whitepaper-details"
          class="h-full min-h-[300px] w-full object-cover lg:min-h-[490px]"
        />
      </figure>
    </div>
  </div>
</section>
