<!-- =========================
Feature v1 section
===========================-->
<section class="overflow-hidden pt-32 pb-[100px] sm:pt-36 md:pt-42 xl:pt-[180px]">
  <div class="main-container">
    <div class="mb-14 space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.3" class="mx-auto max-w-[742px]">
        Everything you need to succeed. All in one platform.
      </h2>
      <p data-ns-animate data-delay="0.4" class="mx-auto max-w-[482px]">
        Nexsas gives you powerful, easy-to-use tools to help you grow, optimize, and scale your
        business—without the overwhelm.
      </p>
    </div>
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8">
      <div
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Trusted by 20k+ Customers -->
          <img
            src="./images/ns-img-67.png"
            alt="Trusted by 20k+"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Tailored billing solutions</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Inventory oversight -->
          <img
            src="./images/ns-img-68.png"
            alt="Inventory oversight"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Inventory oversight</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Smartphone application -->
          <img
            src="./images/ns-img-69.png"
            alt="Smartphone application"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Smartphone application</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.8"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Structured expenses -->
          <img
            src="./images/ns-img-70.png"
            alt="Structured expenses"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Structured expenses</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.9"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Sort receipts -->
          <img
            src="./images/ns-img-71.png"
            alt="Sort receipts"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Sort receipts</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="1"
        class="bg-background-2 dark:bg-background-5 col-span-12 space-y-6 rounded-[20px] p-6 md:col-span-6 lg:col-span-4"
      >
        <figure class="w-full max-w-[360px]">
          <!-- Analytics and reports -->
          <img
            src="./images/ns-img-72.png"
            alt="Analytics and reports"
            class="h-full w-full rounded-2xl object-cover"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-5">Analytics and reports</h3>
          <p>Lorem ipsum dolor sit amet consectetur. Quis sed duis duis purus quisque.</p>
        </div>
      </div>
    </div>
  </div>
</section>
