<!-- ======================  
 Success Stories Hero 
====================== -->
<section
  class="pt-36 pb-10 md:pt-42 md:pb-24 xl:pt-[180px] xl:pb-28"
  aria-label="success stories hero section"
>
  <div class="main-container">
    <div class="space-y-4 text-center lg:mx-auto lg:max-w-[610px]">
      <h1 class="lg:text-heading-2" data-ns-animate data-delay="0.1" data-instant>
        Success stories that inspire innovation
      </h1>
      <p data-ns-animate data-delay="0.2" data-instant>
        Discover how teams and creators are scaling faster, simplifying workflows, and unlocking
        growth all powered by Nexsas.
      </p>
    </div>
  </div>
</section>
