<section class="pb-16 lg:pb-20 xl:pb-28">
  <div class="main-container">
    <div class="mx-auto w-full max-w-[950px]">
      <div data-ns-animate data-delay="0.1" class="space-y-3 py-8">
        <h2 class="text-heading-4 font-normal">Publisher:</h2>
        <p>
          The
          <a href="#" class="text-primary-500 {=$text-color}">https://www.Nexsas.ai</a> website is
          published by: <br />
          Nexsas is registered in the Trade and Companies Register under number 000000000. <br />
          Registered office: 45 Innovation Avenue, Level 3 – San Francisco, CA 94107, USA <br />
          Intracommunity VAT number: US000000000 <br />
          E-mail address:
          <a href="mailto:contact@Nexsas.ai" class="text-primary-500 {=$text-color}"
            >contact@Nexsas.ai</a
          >
        </p>
      </div>
      <div data-ns-animate data-delay="0.2" class="space-y-3 py-8">
        <h2 class="text-heading-4 font-normal">Director of publication :</h2>
        <p>Mr. Alex Turner, Chief Executive Officer</p>
      </div>
      <div data-ns-animate data-delay="0.3" class="space-y-3 py-8">
        <h2 class="text-heading-4 font-normal">Hosting provider:</h2>
        <p>
          The <a href="#" class="text-primary-500 {=$text-color}">https://www.Nexsas.ai</a>
          <br />
          website is hosted by: Vercel, Inc. <br />
          Headquarters: 440 N Barranca Ave #4133, Covina, CA 91723, USA<br />
          Email:
          <a href="mailto:support@vercel.com" class="text-primary-500 {=$text-color}"
            >support@vercel.com</a
          >
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-3 py-8">
        <h2 class="text-heading-4 font-normal">Development:</h2>
        <p>
          This website has been designed and developed by Nexsas Design Studio. <br />
          Website:
          <a href="#" class="text-primary-500 {=$text-color}">https://www.Nexsas.design</a>
        </p>
      </div>
    </div>
  </div>
</section>
