<!-- =========================
Team Members section
===========================-->
<section
  class="pt-14 pb-14 md:pt-16 md:pb-16 lg:pt-[88px] lg:pb-[88px] xl:pt-[180px] xl:pb-[100px]"
>
  <div class="main-container space-y-[70px]">
    <div class="space-y-5 text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan {=$badge-class}"
        >Our team</span
      >
      <div class="mx-auto max-w-[620px] space-y-3">
        <h2 data-ns-animate data-delay="0.2">Our innovative, dynamic and talented team</h2>
        <p data-ns-animate data-delay="0.3">
          Our innovative, dynamic, and talented team is the driving force behind our success. Each
          member brings a unique blend of expertise
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 max-sm:gap-y-8 sm:gap-5 md:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-1.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 {=$team-bg-class} dark:bg-background-8 ease-team-ease-1 absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}"> John Smith </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                CEO & Founder
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-2.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}"> John Lacker </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">CTO</p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-3.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}"> William Finley </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Lead Designer
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.7" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-4.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}"> Micheal Jordan </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Product Manager
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.8" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-5.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}"> Jack Lavis </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Senior Developer
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.9" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-6.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}">WIlls Jack </a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Marketing Director
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-3.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}">Jordan Mack</a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                UX Designer
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.1" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-5.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}">Picaso Mack</a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Frontend Developer
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.2" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="group dark:bg-background-9 {=$team-bg-class} relative z-10 overflow-hidden rounded-[20px] bg-white p-3"
        >
          <figure class="mx-auto overflow-hidden lg:max-w-[408px]">
            <img
              src="./images/ns-avatar-2.png"
              alt="team member"
              class="bg-background-3 dark:bg-background-5 h-full w-full rounded-2xl object-cover"
            />
          </figure>
          <div
            class="shadow-1 dark:bg-background-8 ease-team-ease-1 {=$team-bg-class} absolute bottom-7 left-1/2 z-20 mx-auto w-[calc(100%-44px)] max-w-[384px] -translate-x-1/2 cursor-pointer space-y-3 rounded-xl bg-white p-6 transition-all duration-[400ms] sm:bottom-5 lg:translate-y-[30%] lg:scale-[90%] lg:opacity-0 lg:group-hover:translate-y-0 lg:group-hover:scale-100 lg:group-hover:opacity-100"
          >
            <div class="text-center">
              <h3 class="text-heading-5 text-secondary dark:text-accent font-normal">
                <a href="{=$page-link}">Nill Pack</a>
              </h3>
              <p class="text-tagline-2 text-secondary/40 dark:text-accent/40 font-normal">
                Backend Developer
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
