<!-- =========================
Affiliate Guidelines section
===========================-->

<section class="pt-32 pb-28 sm:pt-36 md:pt-42 md:pb-36 lg:pb-44 xl:pt-[180px] 2xl:pb-[200px]">
  <div class="main-container">
    <div class="space-y-14 md:space-y-20 lg:space-y-[100px]">
      <div class="mx-auto max-w-[780px] space-y-3 text-center">
        <span data-ns-animate data-delay="0.3" class="badge badge-cyan {=$badge-class} mb-5">
          Passion meets purpose
        </span>
        <h2 data-ns-animate data-delay="0.4">Affiliate terms & conditions</h2>
        <p data-ns-animate data-delay="0.5">
          Welcome to the Nexsas Affiliate Program! <br />
          Please read these terms carefully to ensure you fully understand how our program works and
          what is expected.
        </p>
      </div>

      <figure
        data-ns-animate
        data-delay="0.6"
        data-instant
        class="max-w-full overflow-hidden rounded-[20px]"
      >
        <img
          src="./images/ns-img-370.png"
          class="h-full w-full object-cover object-center"
          alt="blog-details-cover"
        />
      </figure>
    </div>
  </div>
</section>
