<!-- =========================
Learn Banner section
===========================-->
<section class="pt-[170px] pb-[100px] md:pb-[200px] xl:pt-[200px]">
  <div class="main-container">
    <div class="flex flex-col items-center gap-y-14 lg:flex-row lg:gap-[100px]">
      <div
        class="mx-auto max-w-[540px] flex-1 space-y-14 text-center lg:mx-0 lg:max-w-full lg:text-left"
      >
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.1">
            Built for your business. Adapted to your workflow.
          </h2>
          <p data-ns-animate data-delay="0.2">
            Nexsas is designed to serve a wide range of teams and industries. Whether you’re
            managing data, scaling operations, optimizing finances, or streamlining customer
            experiences—Nexsas is the platform that grows with you.
          </p>
        </div>

        <div data-ns-animate data-delay="0.3" data-instant>
          <a
            href="{=$page-link}"
            class="section-button btn btn-primary btn-xl hover:btn-secondary dark:hover:btn-accent"
          >
            <span>Explore the platform</span>
          </a>
        </div>
      </div>
      <div class="flex-1">
        <figure
          data-ns-animate
          data-delay="0.3"
          class="w-full max-w-[596px] overflow-hidden rounded-[20px] opacity-0"
        >
          <img
            src="./images/ns-img-385.png"
            class="h-full w-full object-cover"
            alt="learn banner"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
