<!-- =========================
Tutorials section
===========================-->
<section
  class="bg-background-3 dark:bg-background-5 pt-[100px] pb-[100px] xl:pt-[200px] dark:pt-[100px]"
>
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.1">Video tutorials</h2>
      <p data-ns-animate data-delay="0.2" class="mx-auto max-w-[620px]">
        Our innovative, dynamic, and talented team is the driving force behind our success. Each
        member brings a unique blend of expertise
      </p>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure class="h-full w-full">
            <img
              src="./images/ns-img-386.png"
              alt="Intro to Nexsas video tutorial thumbnail"
              class="h-full w-full object-cover"
            />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] rounded-xl p-6 text-center backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to Nexsas</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure>
            <img src="./images/ns-img-387.png" alt="Intro to React video tutorial thumbnail" />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] translate-y-0 rounded-xl p-6 text-center opacity-100 backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to React</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative h-full overflow-hidden rounded-[20px] md:max-h-[408px]">
          <figure>
            <img src="./images/ns-img-388.png" alt="Intro to JavaScript video tutorial thumbnail" />
          </figure>
          <div
            class="bg-secondary/10 absolute right-0 bottom-2.5 left-0 mx-auto w-[95%] translate-y-0 rounded-xl p-6 text-center opacity-100 backdrop-blur-[10px] transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 md:translate-y-full md:opacity-0"
          >
            <h3 class="text-heading-5 text-accent">Intro to JavaScript</h3>
            <p class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-miterlimit="10"
                />
                <path
                  d="M10 5.625V10H14.375"
                  stroke="#FCFCFC"
                  stroke-opacity="0.6"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-accent/60 text-tagline-3">25 Hours</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
