<!-- =========================
Feature Intro section
===========================-->
<section class="pt-32 pb-14 sm:pt-36 md:pt-42 md:pb-16 lg:pb-[88px] xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container">
    <div class="mx-auto mb-14 max-w-[660px] space-y-3 text-center md:mb-[70px]">
      <h2 data-ns-animate data-delay="0.1">Built for your business. Adapted to your workflow.</h2>
      <p data-ns-animate data-delay="0.2">
        Nexsas is designed to serve a wide range of teams and industries. Whether you’re managing
        data, scaling operations, optimizing finances, or streamlining customer experiences—Nexsas
        is the platform that grows with you.
      </p>
    </div>

    <figure data-ns-animate data-delay="0.3" class="h-auto w-full overflow-hidden rounded-[20px]">
      <img
        src="./images/ns-img-353.png"
        alt="feature-intro"
        class="size-full object-cover object-center"
      />
    </figure>
  </div>
</section>
