<section class="py-16 lg:py-20 xl:py-28">
  <div class="main-container">
    <div class="mb-10.5 space-y-5 sm:px-8">
      <span data-ns-animate data-delay="0.1" class="badge badge-green-v2 {=$badge-class}"
        >Press</span
      >
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2" class="text-heading-3">
          A trusted name in SaaS innovation
        </h2>
        <p data-ns-animate data-delay="0.3">
          Nexsas empowers creators, teams, and enterprises to scale smarter with AI-powered tools
          and seamless integrations.<br />
          Our mission is to redefine digital productivity through design, automation, and
          simplicity.
        </p>
      </div>
    </div>
    <figure data-ns-animate data-delay="0.4" class="w-full max-w-full">
      <img
        src="./images/ns-img-390.jpg"
        alt="saas-innovation"
        class="h-full w-full rounded-3xl object-cover"
      />
    </figure>
  </div>
</section>
