<section class="pb-16 xl:pb-28">
  <div class="main-container">
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} space-y-8 *:border-b *:pb-8 *:last:border-0 *:last:pb-0"
    >
      <Component
        src="src/components/pages/glossary-page-01/section-a.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-b.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-c.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-d.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-e.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-f.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-g.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-h.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-i.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-j.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-k.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-l.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-m.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-n.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-o.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-p.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-q.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-r.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-s.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-t.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-u.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-v.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-w.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-x.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-y.htm"
        border-class="{=$border-class}"
      />
      <Component
        src="src/components/pages/glossary-page-01/section-z.htm"
        border-class="{=$border-class}"
      />
    </div>
  </div>
</section>
