<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      E
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Engagement rate</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A metric that measures how actively users interact with your product, content, or
          platform, often through clicks, time spent, or feature usage.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Enterprise SaaS</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Software-as-a-Service designed for large organizations with advanced scalability,
          security, and customization needs.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Error Log</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A record of issues, bugs, or failures that occur within a system, used by developers to
          diagnose and resolve problems.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">ETL (Extract, Transform, Load)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A process for collecting data from various sources, transforming it into a usable format,
          and loading it into a database or data warehouse.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Event tracking</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Monitoring specific user actions within a product (such as clicks or form submissions) to
          analyze behavior and optimize experiences.
        </p>
      </div>
      <div data-ns-animate data-delay="0.7" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Evergreen content</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Content that remains relevant and valuable over time, often used in marketing and SEO
          strategies to attract long-term traffic.
        </p>
      </div>
    </div>
  </div>
</div>
