<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      S
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Retention rate</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The percentage of customers who continue using a product over a specific period,
          indicating satisfaction and loyalty.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Roadmap</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A visual plan outlining upcoming product features, improvements, and long-term goals.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">ROI (Return on Investment)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A metric that measures the profitability or effectiveness of an investment relative to its
          cost.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Release Notes</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Documentation detailing new features, bug fixes, or updates included in a product release.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Responsive design</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A design approach that ensures websites and applications automatically adjust to different
          screen sizes and devices.
        </p>
      </div>
    </div>
  </div>
</div>
