<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      J
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">JavaScript</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A core programming language used to build dynamic and interactive web applications,
          essential for modern SaaS interfaces.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Journey mapping</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A visual representation of the steps users take when interacting with a product, used to
          identify pain points and opportunities for improvement.
        </p>
      </div>
    </div>
  </div>
</div>
