<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      K
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">KPI (Key Performance Indicator)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A measurable value that shows how effectively a company or team is achieving its business
          objectives.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Kanban</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          An agile project management method that visualizes work on a board to improve flow,
          efficiency, and task prioritization.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Knowledge base</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A centralized collection of articles, guides, and FAQs designed to help users find answers
          and learn independently.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Kubernetes</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          An open-source system for automating the deployment, scaling, and management of
          containerized applications.
        </p>
      </div>
    </div>
  </div>
</div>
