<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      D
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Dashboard</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A visual interface that displays key metrics, analytics, and performance indicators in
          real time for easy monitoring and decision-making.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Data analytics</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The process of collecting, analyzing, and interpreting data to uncover patterns, trends,
          and insights that guide business decisions.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Data migration</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The process of transferring data from one system, platform, or storage type to another,
          often during upgrades or software transitions.
        </p>
      </div>
    </div>
  </div>
</div>
