<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      N
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Net promoter score (NPS)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A customer satisfaction metric that measures how likely users are to recommend a product
          or service to others.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">No-code platform</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A development environment that allows users to build apps and workflows without writing
          code, using visual interfaces instead.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Notification system</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A feature that sends alerts or updates to users about important events, changes, or
          actions within a product.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Niche market</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A focused segment of a broader market with specific needs that a product or service is
          designed to serve.
        </p>
      </div>
    </div>
  </div>
</div>
