<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      W
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Webhooks</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Automated messages sent from an app when a specific event occurs, enabling integrations
          between software.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Workflow automation</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The use of software to automate repetitive tasks and processes within an organization.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">White-label SaaS</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A SaaS product that can be rebranded and sold by another company as its own.
        </p>
      </div>
    </div>
  </div>
</div>
