<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      O
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Onboarding flow</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A step-by-step process designed to help new users get started and experience the product's
          core value quickly.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Open source</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Software whose source code is publicly available for modification, enhancement, and
          distribution.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Opt-In</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A user's consent to receive communication, notifications, or marketing materials,
          typically via email or in-app prompts.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Outbound marketing</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Marketing efforts that actively reach out to potential customers through channels like
          ads, cold emails, or events.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Optimization</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The practice of improving a system, design, or process for better performance, speed, or
          conversion.
        </p>
      </div>
    </div>
  </div>
</div>
