<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      U
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Uptime</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The percentage of time a service or application is operational and available to users.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">User journey</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The path a user takes from first interaction with a product to achieving their goal.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Usage-based pricing</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A pricing model where customers pay based on the amount they use a service.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">UX (User experience)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The overall experience and satisfaction a user has while interacting with a product.
        </p>
      </div>
    </div>
  </div>
</div>
