<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      F
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Feature flag</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A software switch that allows teams to enable, disable, or test features without deploying
          new code.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Funnel</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A marketing or sales model that illustrates the stages users go through before converting
          into paying customers.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Freemium model</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A business model offering a basic product for free while charging for premium features or
          advanced functionality.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Full stack developer</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          An engineer skilled in both front-end and back-end technologies, capable of building
          complete web applications.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Functional requirements</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          Specific behaviors or functions a system must perform, defining how software should
          operate from the user's perspective.
        </p>
      </div>
      <div data-ns-animate data-delay="0.7" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Feedback loop</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A process of gathering user feedback, analyzing it, and applying insights to improve the
          product or customer experience.
        </p>
      </div>
    </div>
  </div>
</div>
