<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      Q
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Quality assurance (QA)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          The process of systematically testing software to ensure it meets quality standards and is
          free from defects.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Query</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A request made to a database to retrieve or manipulate specific information.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Quota</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A set limit or target for performance, usage, or sales within a defined period.
        </p>
      </div>
    </div>
  </div>
</div>
