<div>
  <div class="flex items-start justify-start gap-x-6 md:gap-x-14">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="text-heading-3 sticky top-25 w-full max-w-[50px] font-normal md:max-w-[180px] lg:max-w-[467px]"
    >
      P
    </h2>
    <div
      class="*:border-b-stroke-1 *:dark:border-b-stroke-7 {=$border-class} *:border-b *:last:border-0"
    >
      <div data-ns-animate data-delay="0.2" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Paywall</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A system that restricts access to content or features until the user pays or subscribes.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Persona (User persona)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A fictional profile representing a key segment of your audience, used to guide product
          design and marketing strategies.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Pipeline</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A structured process of stages that leads prospects from initial contact to conversion,
          often used in sales and development contexts.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Plugin</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A piece of software that adds specific functionality to an existing application or
          platform.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Prototype</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          An early, simplified version of a product used to test concepts and gather feedback before
          full development.
        </p>
      </div>
      <div data-ns-animate data-delay="0.7" class="w-full max-w-[467px] space-y-2 px-3 py-4">
        <h3 class="text-heading-5 font-normal">Product-Led growth (PLG)</h3>
        <p class="text-secondary/80 dark:text-accent/80 font-normal">
          A go-to-market strategy where the product itself drives user acquisition, conversion, and
          expansion.
        </p>
      </div>
    </div>
  </div>
</div>
