<!-- =========================
Testimonial section
===========================-->
<section>
  <div class="mx-auto max-w-[950px]">
    <div class="space-y-14">
      <!-- heading  -->
      <div class="space-y-3">
        <h4 data-ns-animate data-delay="0.1" class="text-heading-2" id="testimonials-title">
          What our users say
        </h4>
        <blockquote>
          <p data-ns-animate data-delay="0.2">
            "Nexsas delivered our entire platform ahead of schedule—flawless execution and real
            partnership."
          </p>
        </blockquote>
      </div>

      <!-- testimonial card  -->
      <div
        data-ns-animate
        data-delay="0.3"
        class="bg-secondary dark:bg-background-6 max-w-[950px] space-y-6 rounded-[20px] p-8"
      >
        <figure
          class="{=$avatar-class} size-14 overflow-hidden rounded-full bg-(image:--color-gradient-7)"
        >
          <img
            src="./images/ns-avatar-5.png"
            class="size-full object-cover"
            alt="Darren Mitchell, CFO at VelocityFinance"
          />
        </figure>
        <blockquote cite="https://velocityfinance.com">
          <p class="dark:text-accent/60 text-white">
            "Nexsas transformed our reporting process, reducing what used to take hours into just a
            few clicks. It has become our definitive source of truth, streamlining our operations
            and enhancing our decision-making capabilities."
          </p>
        </blockquote>

        <div class="pb-4">
          <p class="text-lg leading-[150%] font-medium text-white">Darren Mitchell</p>
          <p class="text-tagline-2 text-accent/60">CFO at VelocityFinance</p>
        </div>
      </div>
    </div>
  </div>
</section>
