<!-- =========================
Services section
===========================-->
<section class="py-[100px]">
  <div class="main-container">
    <div class="mb-[70px] space-y-5 text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-green"> Our services </span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2" class="mx-auto max-w-[810px]">
          Leading companies around the globe rely on Nexsas.
        </h2>
        <p data-ns-animate data-delay="0.3" class="mx-auto max-w-[542px]">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
          not Latin, though it looks like it
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 relative z-10 space-y-6 overflow-hidden rounded-[20px] px-6 py-8"
        >
          <!-- bg gradient -->
          <figure
            class="pointer-events-none absolute -top-[66%] -left-[60%] -z-10 size-[410px] rotate-[304deg] select-none"
          >
            <img src="./images/ns-img-495.png" class="size-full object-contain" alt="gradient-16" />
          </figure>
          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-9 text-secondary dark:text-accent text-[52px]"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Live chat</h3>
            <p class="line-clamp-2">
              Instant help for pre-sales queries reach us through our live chat for any pre-sale or
              general inquiries.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Check bottom-right</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 relative z-10 space-y-6 overflow-hidden rounded-[20px] px-6 py-8"
        >
          <figure
            class="pointer-events-none absolute -top-[74%] -right-[70%] -z-10 size-[410px] rotate-[175deg] select-none"
          >
            <img src="./images/ns-img-515.png" class="size-full object-contain" alt="gradient-16" />
          </figure>
          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-3 text-secondary dark:text-accent text-[52px]"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Support ticket</h3>
            <p class="line-clamp-2">
              In-depth technical assistance submit a ticket for a personalized and detailed solution
              to your issue.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Submit a ticket</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 relative z-10 space-y-6 overflow-hidden rounded-[20px] px-6 py-8"
        >
          <figure
            class="pointer-events-none absolute -top-[74%] -right-[35%] -z-10 size-[410px] rotate-[175deg] select-none"
          >
            <img src="./images/ns-img-508.png" class="size-full object-contain" alt="gradient-16" />
          </figure>

          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-12 text-secondary dark:text-accent text-[52px]"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Knowledge base</h3>
            <p class="line-clamp-2">
              Comprehensive guides and documentation find step-by-step instructions and solutions
              for the most common topics.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Visit knowledge base</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
