<!-- =========================
Career Details section
===========================-->
<section class="pt-32 pb-[200px] sm:pt-36 md:pt-42 xl:pt-[180px]">
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.3">
        We're building the ruture of Nexsas— <br class="hidden md:block" />
        come build It with us.
      </h2>
    </div>
    <div
      class="grid grid-cols-12 items-start gap-y-[70px] md:gap-x-8 md:gap-y-0 lg:gap-x-[70px] xl:gap-[100px]"
    >
      <!-- Career details   -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="bg-background-1 dark:bg-background-5 relative col-span-12 overflow-hidden rounded-[20px] p-11 md:col-span-6"
      >
        <!-- bg gradient img  -->
        <figure
          data-ns-animate
          data-delay="0.4"
          data-duration="1.2"
          data-direction="right"
          data-offset="90"
          class="pointer-events-none absolute top-[-27%] right-[-77%] size-[500px] overflow-hidden select-none max-[377px]:right-[-90%] md:top-[-27%] md:right-[-83%] lg:top-[-49%] lg:right-[-102%] lg:size-[800px] xl:top-[-60%] xl:right-[-99%] xl:size-[1000px]"
        >
          <img
            src="./images/ns-img-533.png"
            alt="career-details-bg-gradient-img"
            class="size-full object-cover"
          />
        </figure>

        <div class="space-y-8">
          <div>
            <h5 class="mb-8">Job Overview</h5>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Date Posted</p>
              <p class="text-lg leading-[150%]">January 10, 2024</p>
            </div>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Expiration date</p>
              <p class="text-lg leading-[150%]">January 20, 2024</p>
            </div>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Location</p>
              <p class="text-lg leading-[150%]">2464 Royal Ln. Mesa, New Jersey 45463</p>
            </div>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Offered Salary</p>
              <p class="text-lg leading-[150%]">$170 - $200 / week</p>
            </div>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Experience</p>
              <p class="text-lg leading-[150%]">4 Years Experience</p>
            </div>
            <div class="border-stroke-4 dark:border-stroke-7 border-b py-4">
              <p class="text-secondary dark:text-accent text-xl leading-[150%]">Qualification</p>
              <p class="text-lg leading-[150%]">Bachelor Degree, Art of Design</p>
            </div>
          </div>
          <div>
            <h5 class="mb-8">Job Skills</h5>
            <div class="flex max-w-[275px] flex-wrap items-center gap-3">
              <span
                class="bg-secondary dark:bg-accent border-secondary dark:border-accent dark:text-secondary font-base inline-block rounded-full border px-[18px] py-[9px] leading-[150%] font-medium text-white"
              >
                App
              </span>
              <span
                class="bg-background-1 dark:bg-background-6 border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent font-base inline-block rounded-full border p-[9px] px-[18px] leading-[150%] font-medium"
              >
                Design
              </span>
              <span
                class="bg-background-1 dark:bg-background-6 border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent font-base inline-block rounded-full border p-[9px] px-[18px] leading-[150%] font-medium"
              >
                Support
              </span>
              <span
                class="bg-background-1 dark:bg-background-6 border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent font-base inline-block rounded-full border p-[9px] px-[18px] leading-[150%] font-medium"
              >
                UI/UX
              </span>
              <span
                class="bg-background-1 dark:bg-background-6 border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent font-base inline-block rounded-full border p-[9px] px-[18px] leading-[150%] font-medium"
              >
                Brand
              </span>
            </div>
          </div>
          <div class="w-full">
            <a
              href="#"
              class="hover:btn-secondary dark:hover:btn-accent btn btn-primary btn-md w-full first-letter:uppercase before:content-none"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <!-- team member description  -->
      <div class="col-span-12 md:col-span-6">
        <div class="space-y-[70px]">
          <div class="space-y-3">
            <h4 data-ns-animate data-delay="0.4">Job Description</h4>
            <div data-ns-animate data-delay="0.5" class="space-y-5">
              <p>
                Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
                Adipiscing viverra vulputate curabitur est.
              </p>

              <p>
                Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
                suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
                commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel
                mi blandit.
              </p>
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
            </div>
          </div>
          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.5">What you’ll bring:</h5>
            <div data-ns-animate data-delay="0.6" class="space-y-8">
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Manage your time so you’ll get more done in less time</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Cut expenses without sacrificing quality</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.7">Benefits:</h5>
            <div data-ns-animate data-delay="0.8" class="space-y-8">
              <p class="text-secondary dark:text-accent">
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Manage your time so you’ll get more done in less time
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Cut expenses without sacrificing quality</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.9">What you’ll bring:</h5>
            <div data-ns-animate data-delay="1" class="space-y-8">
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Manage your time so you’ll get more done in less time
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Cut expenses without sacrificing quality
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
