<!-- =========================
Footer v2
===========================-->
<footer class="footer footer-two bg-secondary dark:bg-background-8 relative overflow-hidden">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none absolute top-[-15%] right-[-71%] z-0 h-[618px] w-[617px] rotate-[-30deg] bg-top-right bg-no-repeat select-none max-[376px]:right-[-68%] md:top-[-21%] md:right-[-33%] lg:right-[-19%] xl:top-[-24%] xl:right-[-9%]"
  >
    <img
      class="size-full object-cover object-top"
      src="./images/ns-img-493.png"
      alt="Decorative gradient background"
    />
  </figure>

  <!-- left gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="left"
    data-offset="400"
    class="pointer-events-none absolute -bottom-[8%] -left-[65%] z-0 size-[570px] select-none min-[2559px]:!bottom-[-14%] min-[2559px]:!left-[-16%] md:-bottom-[20%] md:-left-[59%] md:size-[870px] lg:-left-[38%] xl:-bottom-[26%] xl:-left-[21%]"
  >
    <img class="size-full" src="./images/ns-img-494.png" alt="Decorative gradient background" />
  </figure>
  <div class="main-container relative z-10 px-5 py-14 max-[400px]:py-14 xl:py-[88px]">
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div
        class="w-full space-y-5 text-center max-[400px]:max-w-[270px] lg:max-w-[476px] lg:text-left xl:max-w-[650px]"
      >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.1"
            class="text-accent text-heading-4 lg:text-heading-2 max-[400px]:text-heading-6"
          >
            Build a complete website using the assistance
          </h2>
          <p data-ns-animate data-delay="0.2" class="text-accent/60 max-[400px]:text-tagline-2">
            Start your free trial today and see your ideas come to life easily and creatively.
          </p>
        </div>
      </div>

      <div class="w-full space-y-6 pt-[40px] md:ml-0 lg:basis-[466px] lg:pt-[67px] xl:ml-[100px]">
        <form
          data-ns-animate
          data-delay="0.3"
          action="#"
          method="post"
          class="mx-auto flex max-w-[505px] flex-col items-center justify-start gap-5 md:flex-row lg:mx-0 lg:max-w-full lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-footer"
            placeholder="Enter your email"
            required
            class="shadow-1 placeholder:text-accent/60 border-stroke-7 dark:border-stroke-7 dark:placeholder:text-accent/60 focus:border-accent/60 bg-accent/10 text-accent h-12 w-[85%] rounded-full border px-[18px] py-3 font-normal placeholder:font-normal focus:outline-none md:w-[71%] lg:max-w-[340px] dark:bg-transparent"
          />

          <button type="submit" class="btn btn-md btn-white h-12 w-[85%] md:w-auto">
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-[42px] max-[400px]:flex-col max-[400px]:gap-5 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.4" class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                fill="white"
              />
            </svg>
            <span class="text-accent/60 text-tagline-2 font-normal">No credit card required</span>
          </li>
          <li data-ns-animate data-delay="0.5" class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                fill="white"
              />
            </svg>
            <span class="text-accent/60 text-tagline-2 font-normal">14-Day free trial</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-container border-t-stroke-6 dark:border-t-accent/10 relative z-10 border-t px-5">
    <div class="grid grid-cols-12 justify-between gap-x-0 gap-y-16 pt-16 pb-12 xl:pt-[90px]">
      <div class="col-span-12 xl:col-span-4">
        <div data-ns-animate data-delay="0.3" class="xl:max-w-[306px]">
          <figure>
            <img src="./images/shared/dark-logo.svg" alt="Nexsass Logo" />
          </figure>
          <p class="text-accent/60 text-tagline-1 mt-4 mb-7 font-normal">
            Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.
          </p>
          <div class="flex items-center gap-3">
            <a href="#" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="bg-stroke-1/20 h-6 w-px"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="bg-stroke-1/20 h-6 w-px"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="bg-stroke-1/20 h-6 w-px"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
            <div class="bg-stroke-1/20 h-6 w-px"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Dribbble</span>
              <img class="size-6" src="./images/icons/dribbble.svg" alt="Dribbble" />
            </a>
            <div class="bg-stroke-1/20 h-6 w-px"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Behance</span>
              <img class="size-6" src="./images/icons/behance.svg" alt="Behance" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 grid grid-cols-12 xl:col-span-8">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">Company</p>
            <ul class="space-y-5 max-[400px]:space-y-3">
              <li>
                <a href="./about.html" class="footer-link"> About Us </a>
              </li>
              <li>
                <a href="./career.html" class="footer-link"> Career </a>
              </li>
              <li>
                <a href="./case-study.html" class="footer-link"> Case Studies </a>
              </li>
              <li>
                <a href="./contact.html" class="footer-link"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">Support</p>
            <ul class="space-y-5">
              <li>
                <a href="./faq.html" class="footer-link"> FAQ </a>
              </li>
              <li>
                <a href="./documentation.html" class="footer-link"> Documentation </a>
              </li>
              <li>
                <a href="./tutorial.html" class="footer-link"> Tutorial </a>
              </li>
              <li>
                <a href="./support.html" class="footer-link"> Support </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 text-primary-50 font-normal">
              Legal Policies
            </p>
            <ul class="space-y-5">
              <li>
                <a href="./terms-conditions.html" class="footer-link">
                  Terms & Conditions
                </a>
              </li>
              <li>
                <a href="./privacy-policy.html" class="footer-link"> Privacy Policy </a>
              </li>
              <li>
                <a href="./refund-policy.html" class="footer-link"> Refund Policy </a>
              </li>
              <li>
                <a href="./gdpr.html" class="footer-link"> GDPR Compliance </a>
              </li>
              <li>
                <a href="./affiliate-policy.html" class="footer-link">
                  Affiliate Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="relative pt-6 pb-10 text-center">
      <div
        class="footer-divider bg-stroke-6 dark:bg-accent/10 absolute top-0 right-0 left-0 mx-auto h-px w-0 origin-center"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 max-sm:text-tagline-2 text-primary-50 font-normal"
      >
        Copyright &copy;Nexsas – smart application for modern business
      </p>
    </div>
  </div>
  <Component src="src/components/shared/theme-toggle.htm" />
  
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
