<!-- =========================
Career section
===========================-->
<section class="pt-32 pb-[100px] sm:pt-36 md:pt-42 xl:pt-[180px] xl:pb-[100px]">
  <div class="main-container">
    <div class="mb-[70px] space-y-3 text-center">
      <h2 data-ns-animate data-delay="0.3">
        We're building the ruture of Nexsas— <br class="hidden md:block" />
        come build It with us.
      </h2>
    </div>
    <figure class="mb-18" data-ns-animate data-delay="0.4">
      <img src="./images/ns-img-379.png" alt="banner-image" class="rounded-2xl" />
    </figure>
    <div data-ns-animate data-delay="0.5" class="mx-auto max-w-[840px] space-y-8">
      <h4>Become part of a passionate community fueled by common interests.</h4>

      <p>
        Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
        Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit. Lorem ipsum dolor sit amet consectetur.
        Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit. Lorem ipsum dolor sit amet consectetur.
        Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra vulputate curabitur est.
      </p>

      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
        suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper commodo
        eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
      <p>
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor
        in rhoncus magna augue adipiscing.Ullamcorper commodo eget pulvinar pretium. Condimentum
        rhoncus commodo amet nec auctor nibh vel mi blandit.
      </p>
    </div>
  </div>
</section>
